.pw_swiper :global(.swiper) {
  position: static;
}

.pw_swiper :global(.swiper-button-next) {
  right: -40px;
}
.pw_swiper :global(.swiper-button-prev) {
  left: -40px;
}

.overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: 0.125rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 44.71%,
    rgba(0, 0, 0, 0.6) 85.1%
  );

  @media (min-width: 768px) {
    border-radius: 0.5rem;
  }
}

.label {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;

  @media (min-width: 768px) {
    bottom: 1rem;
    left: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
