.scrollButton {
  background: white;
  position: absolute;
  border: 1px solid rgb(138, 133, 133);
  width: 40px;
  height: 40px;
  border-radius: 0.75rem;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.scrollButton:hover {
  background: #dbd7d7;
}

.leftButton {
  margin-left: 10px;
  left: 0;
}

.rightButton {
  margin-right: 10px;
  right: 0;
}

.carouselTrack {
  touch-action: pan-y;
  user-select: none;
}

